
.contact-us {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 70px;
  font-family: Arial, sans-serif;
  background-color: #dec794;
}

.contact-us h2 {
  margin: 0;
  font-size: 24px;
  color: #007BFF;
}

.contact-us p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 20px;
}

/* Contact Form Styles */
.contact-form {
  margin-top: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: vertical;
  min-height: 100px;
}

.button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}
